<a href="https://colab.research.google.com/github/anandam06201/100-MW-pv-solar-power-plant/blob/main/find_irradition_xlsbfile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# prompt: xlsb to execel conversion

!pip install pyxlsb
import pyxlsb
import pandas as pd

# Load the xlsb file
with open('WMS_REPORT_23 04 2024_18 59 52.xlsb', 'rb') as f:
    df = pd.read_excel(f, engine='pyxlsb')

# Save the data as an excel file
df.to_excel('example.xlsx')

Requirement already satisfied: pyxlsb in /usr/local/lib/python3.10/dist-packages (1.0.10)

In [20]:
# prompt: xlsx to csv conversion

df.to_csv('example.csv')

In [21]:
df=pd.read_csv('example.csv')

In [25]:
df.iloc[0:10,10:20]

,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,Pyranometers\n(W/m²),NaN,NaN,NaN,NaN,NaN,NaN,NaN,BLOCK-4 TPV1,BLOCK-4 TPV2
1,B3,B8,B15,B19,B22,B24,B25,TOTAL POA,NaN,NaN
2,0,0,0,0,0,0,0,0,29.431665420532227,29.458965301513672
3,0,0,0,0,0,0,0,0,29.426790237426758,29.4542179107666
4,0,0,0,0,0,0,0,0,29.421911239624023,29.449050903320312
5,0,0,0,0,0,0,0,0,29.416994094848633,29.443498611450195
6,0,0,0,0,0,0,0,0,29.412010192871094,29.43754768371582
7,0,0,0,0,0,0,0,0,29.4072265625,29.431446075439453
8,0,0,0,0,0,0,0,0,29.402637481689453,29.42522621154785
9,0,0,0,0,0,0,0,0,29.398311614990234,29.41900634765625

In [23]:
df1=df[['Unnamed: 16']].loc[2:1141,:]

In [26]:
df1.columns = ['irradition_vales']
import numpy as np

df1['irradition_vales'] = df1['irradition_vales'].apply(lambda x: np.nan if x == 'No Data' else float(x))

In [33]:
def irradition(t1,m1,t2,m2):
  time1=t1+(m1/60)
  time2=t2+(m2/60)
  sum=df1['irradition_vales'].loc[2+(time1*60):(time2*60)].sum()
  return sum/60000

**Time format example is (6hours,10min,18hours,15min)   for finding break down irradtion**

In [35]:
irradition(6,15,15,0)

7.11037