<a href="https://colab.research.google.com/github/anandam06201/100-MW-pv-solar-power-plant/blob/main/find_irradition_csvfile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv('WMS_REPORT_23 04 2024_18 59 52.csv')

<ipython-input-89-f949a7d62acb>:2: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('WMS_REPORT_23 04 2024_18 59 52.csv')

In [ ]:
df1=df[['Veltoor\n100MWac PVSPP','Unnamed: 16']].loc[2:1141,:]

In [ ]:
df1.columns = ['Datetime', 'irradition_vales']
import numpy as np

df1['irradition_vales'] = df1['irradition_vales'].apply(lambda x: np.nan if x == 'No Data' else float(x))

In [ ]:
df1['datetime'] = pd.to_datetime((df1['Datetime']))
df1.index = df1['datetime']

<ipython-input-92-83ca7888a9ed>:1: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df1['datetime'] = pd.to_datetime((df1['Datetime']))

In [ ]:
def irradition_value(time1,time2):
  sum_irradiation = df1['irradition_vales'].between_time(time1,time2).sum()
  return sum_irradiation/60000



**Time format examle is ('6:10' , '12:15') for finding breakdown irradition**

In [ ]:
irradition_value('10:00','12:00')

9.005775833333335